@import "~bootstrap/scss/bootstrap.scss";

body {
background-color: #E5E5F7;
background-image: radial-gradient(#444CF7 1px, #E5E5F7 1px);
background-size: 20px 20px;
}

.todo-box {
    background-color: white;
}