@import "~bootstrap/scss/bootstrap.scss";

body{
    background:(linear-gradient(45deg, snow 2px, #f0f0f0 1px));
    background-size:(5px 5px);

}
.todo-box {
    background-color: white;
    text-align: left!important;
}


.list-group-item .far {
    display: none;
}

.list-group-item:hover .far{
    display: inline-block;
}
